
/* All around */

h1 {
    padding: 5px;
    border-bottom: 5px solid;
    color: #2a4158;
    font: 30px helvetica bold;

}

h2 {
    font: 20px helvetica bold;
    color: white;
}

a {
    font: 12px helvetica bold;
    color: white;
    
}

body {

    background-color: white;
}

p {
    font: 14px helvetica bold;
    color: #2a4158;
}

/* Top navigation */

.navbar-top {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a4158;
    border: 5px solid;

}

.navbar-top-main h2 {

    padding: 5px;
    color: white;
    font: 20px helvetica bold;
    
}

.navbar-top-left {

    display: inline-block;
    
    
}

.navbar-top-left a {

    display: inline-block;
    padding: 5px;
    background-color: 2a4158;
    
}

.sticky {

    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .container {

    padding-top: 60px;

}

/* Main content  */


.container {

    display: flex;
    flex-direction: column;
    
    
}


.about {
    
    
    
}

.projects {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
    
    
    
}

.projects p {

    color: white;
}

.project-info {
    
    flex: 1;
    padding: 5px;
    text-align: center;
    border: 5px solid;
    background-color: #2a4158;
    
}

.link-wrapper {

    display: flex;
    column-gap: 5px;
}

.project-link {
    
    flex: 1;
    border: 1px solid;
    background-color: #2a4158;
    font: 20px helvetica bold;
    color: white;
    
    
}

.contact {

    font: 12px helvetica bold;
    
}